<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        <div class="row">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge up bg-green">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="h5 mt-0 title">Sierra ODC Private Limited</div>
                                <div class="h6 mt-0 title">Software Engineer – Microsoft (2019-02 - 2021-05)</div>
                                <div class="h6 mt-0 subtitle">Key Product:</div>
                <li class="list">eFACiLiTY – Enterprise Facility Management Software.</li>
                <li class="non_list">1. Help Desk System</li>
                <li class="non_list">2. BMS/BAS Management System</li>
                <li class="non_list">3. Maintenance Management System</li>
                <li class="non_list">4. Tenant Billing System</li>
                <li class="non_list">5. Visitor Management System.</li>
                <li class="non_list">6. Cafeteria Management System.</li>
                <br>
                <ul>
                    <li class="list">Technologies and Language used</li>
                    <ul>
                        <div class="row">
                            <div class="col-md-6">
                                <li class="non_list">.NET Framework 4+</li>
                                <li class="non_list">ASP.NET</li>
                                <li class="non_list">ADO.NET</li>
                                <li class="non_list">ASP.NET MVC</li>
                                <li class="non_list">Entity framework 5</li>
                                <li class="non_list">Web API</li>
                            </div>
                            <div class="col-md-6">
                                <li class="non_list">C#</li>
                                <li class="non_list">VB.Net</li>
                                <li class="non_list">JavaScript</li>
                                <li class="non_list">HTML</li>
                                <li class="non_list">CSS</li>
                                <li class="non_list">AngularJs</li>
                            </div>
                        </div>
                    </ul>
                </ul>
        </div>
        <div class="col-lg-6">
            <div class="h6 mt-0 subtitle">Responsibilities:</div>
            <p>✓ Analyze, design and develop software based on client requirements.</p>
            <p>✓ Address and resolve client reported issues on priority with the corrective root
                cause and solution.</p>
            <p>✓ Perform unit tests both manual and katalon automated scripts against the
                application after development.</p>
            <p>✓ Fine-tune and fix bugs when requested/reported in Mantis bug tracker and
                provide exact root cause and fix.</p>
            <p> ✓ Prioritize and assign tasks to the team members and support until completion.</p>
            <p>✓ Helps in software enhancements and complete road map tasks occasionally.</p>
            <p>✓ Integrate with third-party tools, payment gateway(CCAvenue) and software like
                BMS/BACnet, ACS, etc.</p>
        </div>
    </div>
</div>
</li>
<li>
    <div class="timeline-badge up bg-green">
        <i class="fa fa-thumbs-up"></i>
    </div>
    <div class="timeline-panel">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="h5 mt-0 title">Cognizant Technologies</div>
                <div class="h6 mt-0 title">Programmer Analyst (2021-06 - Present)</div>
                <div class="h6 mt-0 subtitle">Project:</div>
<li class="list">CAFE - Commercial Agent Front End.</li>
<br>
<ul>
    <li class="list">Technologies and Language used</li>
    <ul>
        <div class="row">
            <div class="col-md-6">
                <li class="non_list">.NET CORE 5</li>
                <li class="non_list">React JS</li>
                <li class="non_list">Redux JS</li>
                <li class="non_list">Microservices</li>
                <li class="non_list">Entity framework 5+</li>
                <li class="non_list">REST API</li>
            </div>
            <div class="col-md-6">
                <li class="non_list">C#</li>
                <li class="non_list">Bootstrap</li>
                <li class="non_list">HTML</li>
                <li class="non_list">SCSS</li>
            </div>
        </div>
    </ul>
</ul>
</div>
<div class="col-lg-6">
    <div class="h6 mt-0 subtitle">Responsibilities:</div>
    <p>✓ Understand the functional/ non-functional requirements.</p>
    <p>✓ Participate in daily SCRUM call and update development status in Rally tool.</p>
    <p>✓ Identify the list of reusable assets that can be used and share inputs.</p>
    <p>✓ Rework on the code based on inputs shared by the Sr Developer and Module Lead if required.</p>
    <p>✓ Participate in client calls and prepare the clarification list to seek clarifications.</p>
</div>
</div>
</div>
</li>
</ul>
</div>
</div>
</div>
<app-achievements></app-achievements>