<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2019-Present</p>
                        <div class="h5">Master Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Master of Computer Application</div>
                        <h4 class="category">Bharathiar University</h4>
                        <ul>
                            <li> Bharathiar University in Coimbartore </li>
                            <li>Studing Master of Computer Application with <b>53%</b>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2015-2018</p>
                        <div class="h5">Bachelor Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Bachelor of Science</div>
                        <h4 class="category">NGM College</h4>
                        <ul>
                            <li> NGM College in Pollachi </li>
                            <li>Completed B.Sc Mathematics with <b>75%</b>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2013-2015</p>
                        <div class="h5">Higher Secondary</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Higher Secondary</div>
                        <h4 class="category">Palani Gounder Higher Secondary School, Pollachi</h4>
                        <ul>
                            <li>Completed HSC with <b>91.4%</b>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2011-2013</p>
                        <div class="h5">SSLC</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">SSLC</div>
                        <h4 class="category">Government Higher Secondary School, Ramanadhapuram, Pollachi</h4>
                        <ul>
                            <li>Completed SSLC with <b>91%</b>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>