<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>

        <div class="row">
            <!-- Project 1 -->
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft" data-aos="fade-up">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/Crypto.jpg" alt="Card image"
                            style="height:240px" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Crytocurrency Application</b></h5>
                            <h5 class="card-text">
                                <b>Technology :</b> ReactJs, Redux toolkit, Rapid Api
                            </h5>
                            <button class="btn btn-primary"
                                onclick="location.href='https://cryptoversreact.netlify.app'" type="button">
                                Live Demo Link
                            </button>

                            <button class="btn btn-primary"
                                onclick="location.href='https://github.com/Arulanand-Dev/cryptoapp'" type="button">
                                Github Link
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project 2 -->
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft" data-aos="fade-up">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/portfolio-resized.jpg" alt="Card image"
                            style="height:240px" />
                        <div class="card-body">
                            <h5 class="card-title"><b>Personal Portfolio</b></h5>
                            <h5 class="card-text">
                                <b>Technology :</b> Angular, TypeScript, Bootstrap
                            </h5>
                            <button class="btn btn-primary"
                                onclick="location.href='https://arulanand-dev.github.io/Personal-Portfolio'"
                                type="button">
                                Live Demo Link
                            </button>

                            <button class="btn btn-primary"
                                onclick="location.href='https://github.com/Arulanand-Dev/Personal-Portfolio/tree/Source'"
                                type="button">
                                Github Link
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>